{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="mainback">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <h4 class="card-title">{{ projects.projectName }}</h4>
                        <img class="img-thumbnail" src="{{ asset('images/empty.jpg') }}" alt="">
                        <p class="card-text">Description : </p>
                        <p>{{ projects.projectDesc }}</p>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <p>Technologies utilisées dans ce projet :</p>
                        <div class="row">
                            {% for tech in techno %}
                                <div class="col-md-4 col-sm-6">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h4 class="card-title">{{ tech.technoName }}</h4>
                                            <p class="card-text text-center">{{ tech.technoDesc }}</p>
                                        </div>
                                        <div class="container mb-3 text-center">
                                            <a href="#" class="btn">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <p>Outils utiliés  :</p>
                        <div class="row">
                            {% for tool in tools %}
                                <div class="col-md-4 col-sm-6">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p class="card-text text-center">{{ tool.toolName }}</p>
                                        </div>
                                        <div class="container mb-3 text-center">
                                            <a href="#" class="btn">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <p>Images :</p>
                        <div class="row">
                            {% for image in images %}
                                <div class="col-md-4 col-sm-6">
                                    <div class="card">
                                        <div class="card-body text-center">
                                        <p class="card-text text-center">{{ image.image }}</p>
                                        </div>
                                        <div class="container mb-3 text-center">
                                            <a href="#" class="btn">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
