{% extends 'base.html.twig' %}
{% block title %}Admin Projects{% endblock %}
{% block body %}
    {{ include ('Include/NavBar.html.twig') }}
<div class="container mt-4">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Liste des projets
            </div>
            <div class="card-body">
                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Nom du projet</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>{{ project.projectName }}</td>
                            <td>
                                <a href="{{ path('admin.project.edit', {id: project.id}) }}"
                                   class="btn btn-primary btn-sm">Editer</a>
                                <form method="post" action="{{ path('admin.project.delete', {id: project.id}) }}"
                                      style="display:inline-block" onsubmit="return confirm('Are you sure ?')">
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}"/>
                                    <button class="btn btn-warning btn-sm">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="text-right">
                    <a href="{{ path('admin.project.new') }}" class="btn btn-success btn-sm">Nouveau projet</a>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('adminProject') }}
    {% endblock %}
